* {
  font-family: "Helvetica", sans-serif;
}

.container {
  position: relative;
  padding: 75px;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: black;
}

h1, h2 {
  color: white;
}

#ha {
  position: absolute;
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
  background-color: lightblue;
  border-radius: 15px;
}

span {
  color: white;
}
